<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.mapper.test1.User1Mapper">

    <sql id="Base_Column_List">
        id, username, password, age, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultType="com.jack.domain.User">
        select <include refid="Base_Column_List" /> from user
        where id = #{id}
    </select>

    <select id="selectUserByCondition" resultType="com.jack.domain.User">
        select <include refid="Base_Column_List" /> from user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>

    <update id="updateUserByPrimaryKey">
      update user set username = #{username}, password = #{password}, age = #{age} where id = #{id}
    </update>

    <delete id="deleteUserByPrimaryKey">
        delete from user where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.jack.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password, jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>